<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emre Cetin       </title>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/article.css">
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/vue.js"></script>
</head>
<body>
<div id="article_app" style="display: inline-block;">
  <div id="app">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://www.emrecetin.net/">Emre Çetin</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">ANASAYFA </a></li>
            <li><a href="#about">HAKKIMIZDA</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DERSLER <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            <li><a href="#contact">İLETİŞİM</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login">Kayıt Ol</a></li>
            <li><a href="/singup">Giriş</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<!-- BODYLEFT -->
    <div id="main-content" class="col-md-offset-1 col-md-7">
      <div class="panel panel-default clearfix polaroid ">
        <div class="crop-article">
          <img class="post-image" src="/static/0.jpg">
        </div>
      </div>
      <div class="panel panel-default clearfix polaroid">
        <div class="panel-heading clearfix">
          <span class="title col-md-6 col-xs-12"> Dünyada Gezilcek 5 ülke</span>
          <span class="col-md-6 col-xs-12">
            <span class="semitransparent label label-warning tag">Education</span>
            <span class="semitransparent label label-warning tag">Sport</span>
          </span>
        </div>
        <div class="panel-body">
          <p class="paragraph">&nbsp Diathermacy illusive reperception indoctrinize botanizer subequally Lucrece Capitolian stigma philotheosophical orchestrion sulpholipin anaglyphoscope Albuginaceae pyreticosis calliper lunulated dynamitical bepicture ownness divine resift turbulent morpholine
          diathermacy illusive reperception indoctrinize botanizer subequally Lucrece Capitolian stigma philotheosophical orchestrion sulpholipin anaglyphoscope Albuginaceae pyreticosis calliper lunulated dynamitical bepicture ownness divine resift turbulent morpholine</p>
          <blockquote>
            En zayıf oldugunuz an bütün herkes tarafından desteklenir gibi göründüğünüz andır. Aslında hiç kimse desteklememektedir sizi; size verilen evet sadece bir bekleyişi dile getirmektedir, ve o evetin ardında daima fırtınalı bir gün yatar.
          </blockquote>

          <hr>
          <p class="paragraph">&nbsp Diathermacy illusive reperception indoctrinize botanizer subequally Lucrece Capitolian stigma philotheosophical orchestrion sulpholipin anaglyphoscope Albuginaceae pyreticosis calliper lunulated dynamitical bepicture ownness divine resift turbulent morpholine
          diathermacy illusive reperception indoctrinize botanizer subequally Lucrece Capitolian stigma philotheosophical orchestrion sulpholipin anaglyphoscope Albuginaceae pyreticosis calliper lunulated dynamitical bepicture ownness divine resift turbulent morpholine</p>
          <pre>
            def post(self, user):
              post_id = request.json.get("post_id")

              if user['rank'] in (0, 1):
                add_tag(data, post_id)
              return {'status': 'OK'}
          </pre>
          <hr>
          <p class="paragraph">&nbsp Diathermacy illusive reperception indoctrinize botanizer subequally Lucrece Capitolian stigma philotheosophical orchestrion sulpholipin anaglyphoscope Albuginaceae pyreticosis calliper lunulated dynamitical bepicture ownness divine resift turbulent morpholine
          diathermacy illusive reperception indoctrinize botanizer subequally Lucrece Capitolian stigma philotheosophical orchestrion sulpholipin anaglyphoscope Albuginaceae pyreticosis calliper lunulated dynamitical bepicture ownness divine resift turbulent morpholine</p>
          <hr>
          <pre>
            def post(self, user):
              post_id = request.json.get("post_id")

              if user['rank'] in (0, 1):
                add_tag(data, post_id)
              return {'status': 'OK'}
          </pre>
        </div>
        <hr>
        <nav>
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- BODYLEFT  END -->

    <!-- FEATURED  -->
    <div id="main-content" class="col-md-3">
      <suggestion v-for="s in suggestion_list" :suggestion_data="s">
      </suggestion>
    </div>
  <!--       <div id="main-content" class="col-md-3">
            {% for i in sugestion_list%}
                <div class="panel panel-default clearfix shadow">
                    <div class="view overlay">
                        <img class="post-image" src="{{i.image}}">
                        <div class="mask">
                            <p>{{i.tag}}</p>
                        </div>
                    </div>
                    <div class="panel-body">{{i.summary}}</div>
                </div>
            {% endfor%}
        </div> -->
    <!-- FEATURED END -->
  </div>
</div>
<footer class="blog-footer">
      <p>Copyright  ©<a href="">2017</a> Tüm Hakları Saklıdır. <a href="https:emrecetin.net">blog.emrecetin.net</a></p>
      <p>
        <a href="#">Yukarı Çık</a>
      </p>
    </footer>
</body>
<script src="/static/application.js"></script>
</html>

