<div v-show="selected=='contact'">
    <div class="col-md-12 col-xs-12">
        <div id="main-content" class="col-md-offset-2 col-md-8 col-xs-12">
            <div class="col-md-12">
                <div class="page-header">
                    <h1>İletişim</h1>
                    <p class="lead">Aklınıza takılan konular için aşağıdaki formu doldurarak bana ulaşabilirsiniz. Daha fazlası için <a href="https://www.emrecetin.net">emrecetin.net</a> 'teki sosyal medya hesaplarından bana erişim sağlayabilirsiniz. En olmadı emrec.tin@gmail.com'a mail atin ben sizi bulurum. :)</p>
                  </div>
            </div>
           <div class="col-md-12">
                <div class="well well-md">
                    <form class="form-horizontal" action="" method="post">
                         <legend class="text-center">Bana Ulaşmak İçin</legend>
                           <fieldset>
                          <!-- Name input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="name">İsim</label>
                                    <div class="col-md-9">
                                        <input id="name" name="name" type="text" placeholder="İsminiz" class="form-control">
                                    </div>
                                </div>

                                <!-- Email input-->
                                <div class="form-group">
                                    <label class="col-md-3 control-label" for="email">E-mail</label>
                                    <div class="col-md-9">
                                        <input id="email" name="email" type="text" placeholder="Mail Adresiniz" class="form-control">
                                    </div>
                                </div>

                                <!-- Message body -->
                                <div class="form-group">
                                <label class="col-md-3 control-label" for="message">Mesajınız</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" id="message" name="message" placeholder="Lütfen mesajınızı yazınız..." rows="2"></textarea>
                                    </div>
                                </div>

                                <!-- Form actions -->
                                <div class="form-group">
                                    <div class="col-md-12 text-right">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>