<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anasayfa</title>
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <link href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/article.css">
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/static/vue.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
    <div id="app-menu" class="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="http://www.emrecetin.net/">Emre Çetin</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="#" v-on:click='home_onclick()'>ANASAYFA </a></li>
                <li><a href="#about" v-on:click='article_onclick()'>HAKKIMDA</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DERSLER <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">- Python</a></li>
                    <li><a href="#">- Linux</a></li>
                    <li><a href="#">- C</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">- Java Script</li>
                    <li class="dropdown-header">- Android</li>
                    <li class="dropdown-header">- Swift</li>

                  </ul>
                </li>
                <li><a href="#contact" v-on:click='contact_onclick()'>İLETİŞİM</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/signup">Kayıt Ol</a></li>
                <li><a href="/login">Giriş</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
    </div>
    <div id="app" class="clearfix row main">
            {% include 'index-home.html' %}
            {% include 'index-article.html' %}
            {% include 'index-contact.html' %}
    </div>
<!--     <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <br>
        <p class="text-center">Ne kadar da footer. Özellikle footer'ın tüm hakları saklı.</p>
        <br>
      </div>
    </nav> -->
</body>
<script src="/static/application.js"></script>
{% block allscript %} {% endblock %}
</html>